membership discord/n8n-discord-registration.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Prepare registration data with Discord ID\nconst formData = items[0].json;\n\nconst today = new Date();\nconst joinDate = `${today.getMonth() + 1}/${today.getDate()}/${today.getFullYear()}`;\nconst expiryDate = '12/31/2099';\n\n// Get Discord Username\nlet discordUsername = formData['Username Discord  '] || formData['Username Discord'] || '';\ndiscordUsername = discordUsername.trim().replace(/^@/, '').split('#')[0];\n\n// Get Discord ID (18 digits)\nlet discordId = formData['Discord ID'] || formData['Discord ID '] || formData['DiscordID'] || '';\ndiscordId = String(discordId).trim();\n\n// Validate Discord ID (should be 17-19 digits)\nconst isValidId = /^\\d{17,19}$/.test(discordId);\n\nreturn [{\n  json: {\n    Timestamp: formData['Timestamp'],\n    Email: formData['Email'],\n    Nama: formData['Nama Lengkap '] || formData['Nama Lengkap'],\n    NoHP: formData['Nomor WhatsApp '] || formData['Nomor WhatsApp'],\n    DiscordUsername: discordUsername,\n    DiscordID: discordId,\n    BuktiTransfer: formData['Upload Bukti Transfer  '] || formData['Upload Bukti Transfer'],\n    OpsiMember: formData['Pilihan Paket Member  '] || formData['Pilihan Paket Member'] || 'Lifetime',\n    JoinDate: joinDate,\n    ExpiryDate: expiryDate,\n    Status: 'Pending',\n    RoleAssigned: '',\n    ValidDiscordID: isValidId ? 'Yes' : 'No'\n  }\n}];"
      },
      "id": "8fe995ba-cab7-4a5d-9f27-f2cbfb351f14",
      "name": "Prepare Registration Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        2160
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "13NUd5vCYHaQulnI89Mfk-3aU7e80b4qWPK8WvFMcQOw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form Responses 1",
          "mode": "name"
        },
        "event": "newRow",
        "options": {}
      },
      "id": "607c21d3-a8ab-4899-a26f-c296cba703a3",
      "name": "Google Form Response1",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1008,
        2160
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1350847865316184135",
          "mode": "list",
          "cachedResultName": "Mind Risk",
          "cachedResultUrl": "https://discord.com/channels/1350847865316184135"
        },
        "channelId": {
          "__rl": true,
          "value": "1462812894780588063",
          "mode": "id"
        },
        "content": "\u26a0\ufe0f **PENDAFTARAN BARU - DISCORD ID TIDAK VALID**\n\n\ud83d\udc64 **{{ $json.Nama }}**\n\ud83d\udce7 {{ $json.Email }}\n\ud83d\udcf1 {{ $json.NoHP }}\n\ud83c\udfae Discord: {{ $json.DiscordUsername }}\n\ud83c\udd94 Discord ID: `{{ $json.DiscordID }}` \u274c **INVALID**\n\ud83d\udc8e Paket: {{ $json.OpsiMember }}\n\n\ud83d\udcce **BUKTI TRANSFER:**\n{{ $json.BuktiTransfer }}\n\n**PERLU ACTION:**\n1. Hubungi user untuk minta Discord ID yang benar\n2. Update Discord ID di sheet\n3. Setelah itu, ubah Status \u2192 Active\n\n\ud83d\udd17 https://docs.google.com/spreadsheets/d/13NUd5vCYHaQulnI89Mfk-3aU7e80b4qWPK8WvFMcQOw",
        "options": {}
      },
      "id": "57557ef3-2f3e-4134-a67d-eededb168840",
      "name": "Notify - Invalid ID",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1888,
        2288
      ],
      "webhookId": "493004a2-2f74-4786-ac14-39a8dcfb8f5b"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1350847865316184135",
          "mode": "list",
          "cachedResultName": "Mind Risk",
          "cachedResultUrl": "https://discord.com/channels/1350847865316184135"
        },
        "channelId": {
          "__rl": true,
          "value": "1462812894780588063",
          "mode": "id"
        },
        "content": "=\ud83d\udce5 PENDAFTARAN BARU - CEK PEMBAYARAN\n\n\ud83d\udc64 {{ $json.Nama }}\n\ud83d\udce7 {{ $json.Email }}\n\ud83d\udcf1 {{ $json.NoHP }}\n\ud83c\udfae Discord: {{ $json.DiscordUsername }}\n\ud83c\udd94 Discord ID: `{{ $json.DiscordID }}` \u2705\n\ud83d\udc8e Paket: {{ $json.OpsiMember }}\n\n\ud83d\udcce BUKTI TRANSFER:\n{{ $json.BuktiTransfer }}\n\nCARA APPROVE:\n1. \u2705 Cek bukti transfer di link atas\n2. \u2705 Jika valid, ubah Status \u2192 Active di sheet\n3. \ud83e\udd16 Bot akan otomatis assign role VIP!\n\n\ud83d\udd17 https://docs.google.com/spreadsheets/d/13NUd5vCYHaQulnI89Mfk-3aU7e80b4qWPK8WvFMcQOw",
        "options": {}
      },
      "id": "21785fc1-4553-44c9-981f-8e2fdd1b1402",
      "name": "Notify - Valid ID (Check Payment)",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1888,
        2080
      ],
      "webhookId": "ff13f66c-6e62-4787-a8f3-9d6a9e2886ba"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid-id",
              "leftValue": "={{ $json.ValidDiscordID }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "264d23c4-3852-4cf4-98c6-5da5c3a4958a",
      "name": "IF Valid Discord ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        2160
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13NUd5vCYHaQulnI89Mfk-3aU7e80b4qWPK8WvFMcQOw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DB-Membership",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NoHP",
              "displayName": "NoHP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DiscordUsername",
              "displayName": "DiscordUsername",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DiscordID",
              "displayName": "DiscordID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BuktiTransfer",
              "displayName": "BuktiTransfer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OpsiMember",
              "displayName": "OpsiMember",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "JoinDate",
              "displayName": "JoinDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ExpiryDate",
              "displayName": "ExpiryDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RoleAssigned",
              "displayName": "RoleAssigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "44d48741-83cd-4ca3-8ba7-6fbdcf0b8190",
      "name": "Add to DB-Membership",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1456,
        2160
      ]
    },
    {
      "parameters": {
        "resource": "member",
        "operation": "roleAdd",
        "guildId": {
          "__rl": true,
          "value": "1350847865316184135",
          "mode": "id"
        },
        "userId": {
          "__rl": true,
          "value": "={{ $json.DiscordID }}",
          "mode": "id"
        },
        "role": [
          "1458011867996885137"
        ]
      },
      "id": "e1e90309-da63-4050-ad78-d94cbbe52756",
      "name": "Add VIP Role",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2100,
        2080
      ],
      "webhookId": "efd03d49-7a22-4cee-a49a-cd19cb6d95eb"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13NUd5vCYHaQulnI89Mfk-3aU7e80b4qWPK8WvFMcQOw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DB-Membership",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DiscordID": "={{ $('Prepare Registration Data1').item.json.DiscordID }}",
            "RoleAssigned": "Yes"
          },
          "matchingColumns": [
            "DiscordID"
          ]
        },
        "options": {}
      },
      "id": "ea89a7e0-6d4a-4bcd-a7ad-3807ac841b27",
      "name": "Log Role Assignment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2320,
        2080
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1350847865316184135",
          "mode": "list",
          "cachedResultName": "Mind Risk",
          "cachedResultUrl": "https://discord.com/channels/1350847865316184135"
        },
        "channelId": {
          "__rl": true,
          "value": "1462812894780588063",
          "mode": "id"
        },
        "content": "\u2705 Role Membership Ditambahkan!\n\n<@{{ $('Prepare Registration Data1').item.json.DiscordID }}> dengan nama {{ $('Prepare Registration Data1').item.json.Nama }} sudah ditambahkan ke Membership!\n\ud83d\udce7 {{ $('Prepare Registration Data1').item.json.Email }}\n\ud83d\udc8e {{ $('Prepare Registration Data1').item.json.OpsiMember }}",
        "options": {}
      },
      "id": "30e7724d-bd3f-45af-bc1e-de055870915e",
      "name": "Notify Role Added",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2540,
        2080
      ],
      "webhookId": "298890da-9cfb-475d-9580-8d74b706af8f"
    }
  ],
  "connections": {
    "Prepare Registration Data1": {
      "main": [
        [
          {
            "node": "Add to DB-Membership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Form Response1": {
      "main": [
        [
          {
            "node": "Prepare Registration Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Discord ID": {
      "main": [
        [
          {
            "node": "Notify - Valid ID (Check Payment)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add VIP Role",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify - Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add VIP Role": {
      "main": [
        [
          {
            "node": "Log Role Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Role Assignment": {
      "main": [
        [
          {
            "node": "Notify Role Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to DB-Membership": {
      "main": [
        [
          {
            "node": "IF Valid Discord ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15b5fc14a2360bded91197fef75071d97824ef5a858d598edd0ee51cb3ebddc0"
  }
}